.addedBookmarks{
    width: 351px;
    height: 98px;
    border: 2px solid black;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
}
@media only screen and (max-width: 688px){

    .addedBookmarks{
        width: 50vw;

    }

}